<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examsystem.mapper.UserEventLogMapper">

    <sql id="selectFields">
        id, user_id, user_name, real_name, content, create_time
    </sql>

    <sql id="insertFields">
       user_id, user_name, real_name, content, create_time
    </sql>

    <!--时间段查询用户活跃度-->
    <select id="selectCountByDate" resultType="com.examsystem.entity.other.KeyValue">
        SELECT create_time as name,COUNT(create_time) as value from
            (
            SELECT DATE_FORMAT(create_time,'%Y-%m-%d') as create_time from t_user_event_log
            WHERE  create_time  between  #{startTime}  and  #{endTime}
            ) a
        GROUP BY create_time
    </select>

    <!--根据用户ID查询日志-->
    <select id="page" resultType="com.examsystem.entity.UserEventLog" parameterType="com.examsystem.viewmodel.admin.user.UserEventPageRequestVM">
        select
        <include refid="selectFields"/>
        from t_user_event_log
        <where>
            <if test="userId != null">
                and user_id= #{userId}
            </if>
            <if test="userName != null">
                and user_name= #{userName}
            </if>
        </where>
    </select>

    <!--添加日志-->
    <insert id="insertLog" parameterType="com.examsystem.entity.UserEventLog">
        insert into
        t_user_event_log(<include refid="insertFields"></include>)
        values
        (#{userId}, #{userName}, #{realName}, #{content}, #{createTime})
    </insert>

</mapper>